version: 2.1
defaults: &defaults
  docker:
    - image: circleci/php:7.2-cli
      environment:
        BOX_VERSION: 3.6.0
  working_directory: ~/repo
aliases:
  - &composer-cache
      v4-composer-cache
commands:
  start-project:
    steps:
      - checkout
      - restore_cache:
          keys:
            - *composer-cache
      - run: composer global require "hirak/prestissimo:^0.3"
      - run: composer install -n --prefer-dist
      - save_cache:
          key: *composer-cache
          paths:
            - ~/.composer/cache
  build-phar:
    steps:
      - run: echo "Downloading box.phar version $BOX_VERSION"
      - run: curl -O -L https://github.com/humbug/box/releases/download/$BOX_VERSION/box.phar
      - run: php box.phar compile
  create-drupal-project:
    parameters:
      project:
        type: string
        default: 'drupal-composer/drupal-project:8.x-dev'
    steps:
      - run: composer create-project << parameters.project >> /tmp/drupal --no-interaction --no-dev --prefer-dist --ignore-platform-reqs
  global-require:
    steps:
      - run:
          name: Remove vendor directory
          command: |
            rm -rf vendor
      - run:
          name: Add project as a global dependency
          command: |
            composer global config repositories.drupalCheck '{"type": "path", "url": "~/repo", "options": { "symlink": false }}'
      - run:
          name: Add globally
          command: |
            composer global require mglaman/drupal-check *@dev
      - run:
          name: Add Composer global path
          command: |
            echo 'export PATH="$HOME/.composer/vendor/bin:$PATH"' >> $BASH_ENV
            echo $BASH_ENV
      - run:
          name: Check drupal-check can be executed
          command: |
            drupal-check --version
jobs:
  lint:
    <<: *defaults
    steps:
      - start-project
      - run:
          name: Composer Validate
          command: |
            composer validate
      - run:
          name: PHPCS
          command: |
            ./vendor/bin/phpcs src
  build:
    <<: *defaults
    steps:
      - start-project
      - build-phar
      - run: php box.phar info drupal-check.phar
  test_lightning:
    <<: *defaults
    steps:
      - start-project
      - build-phar
      - create-drupal-project:
          project: 'acquia/lightning-project'
      - run:
          name: Run against a file
          command: |
            drupal-check /tmp/drupal/docroot/core/install.php
  test_global_require:
    <<: *defaults
    steps:
      - start-project
      - global-require
      - create-drupal-project
      - run:
          name: Run against a file
          command: |
            drupal-check /tmp/drupal/web/core/install.php
  test_global_require_with_drush:
    <<: *defaults
    steps:
      - start-project
      - run:
          name: Install Drush globally (which is not recommended by Drush team)
          command: |
            composer global require drush/drush
      - global-require
      - create-drupal-project
      - run:
          name: Run against a file
          command: |
            drupal-check /tmp/drupal/web/core/install.php

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - lint
      - test_global_require
      - test_global_require_with_drush
      - build
