parameters:
	reportUnmatchedIgnoredErrors: false
	# Ignore tests
	excludes_analyse:
		- */tests/Drupal/Tests/Listeners/Legacy/*
		- */tests/fixtures/*.php
		- */settings*.php
includes:
	- phpstan_drupal_extension.php
