parameters:
	customRulesetUsed: true
	reportUnmatchedIgnoredErrors: false
	# Ignore tests
	excludes_analyse:
		- */tests/Drupal/Tests/Listeners/Legacy/*
	# Ignore phpstan-drupal extension's rules.
	ignoreErrors:
		- '#\Drupal calls should be avoided in classes, use dependency injection instead#'
		- '#Plugin definitions cannot be altered.#'
		- '#Missing cache backend declaration for performance.#'
		- '#Plugin manager has cache backend specified but does not declare cache tags.#'
includes:
	- ../vendor/mglaman/phpstan-drupal/extension.neon
	- ../vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- junit_formatter.neon
